@import 'tailwindcss';

@utility button-base {
	background-color: var(--color-neutral-100);
	color: var(--color-neutral-600);
	width: min-content;
	text-wrap-mode: nowrap;
	font-size: var(--text-xs);
	border-radius: var(--radius-sm);
	padding: 0.25rem 0.5rem;
	border: none;
	cursor: pointer;
	transition: all 0.05s;
	&:hover {
		background-color: var(--color-neutral-200);
	}
}

@utility image-crisp {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}